*{
    box-sizing: border-box;
}
.left-panel,.right-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px 10px 100px 10px
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.card-title{
    font-style:italic;
    font-family: cursive;
    margin-top: 15px;
    text-align: center;
}
.register-card{
    width: 40%;
    margin: 0 auto;
    background-color: aquamarine;
}
.login-link{
    color:mediumblue;
    text-decoration: underline;
}
.register-btn{
    width: 100% !important;
}